<!DOCTYPE html>
<html>
<head>
  <title>web</title>
  <style>
    *{
  box-sizing: border-box;
}
body{
       margin:0;
       background: gray;
}
nav{
  background: #27334e;
  width: 100%;
  overflow: auto;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
li{
  float: left;
}
nav a{
  width: 120px;
  display: block;
  text-decoration: none;
  text-align:center;
  background: #27334e;
  font-size: 17px;
  color:white;
  padding:20px 10px;
  font-family:Arial;
}
  </style>
</head>
<body>
<nav>
        <ul>
        <li><a href="/">Home</a></li>
      {% if g.user %}
<!--         <li class="nav-item active">
          <a class="nav-link" href="/play">Play <span class="sr-only">(current)</span></a>
        </li> -->
        <li><a  href="/market">Market</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/gamerboard">Gamerboard</a></li>
      {% endif %}
    </ul>
  </nav>
  <!-- log in/out -->
  <div>
    <ul>
      {% if not g.user %}
      <li><a href="/">Sign in</a></li>
      {% else %}
      <li><a href="/profile" style="color:green">My Profile</a>
          <a href="/logout">Log out</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
</body>
</html>



