{% extends 'layout.html' %}
{% block body %}
    <!-- Modal -->
    {% include 'includes/_modal.html' %}

    <div class="container text-center">
        <h1>Cat {{cat.id}}</h1>
        <h1 style='color:grey'><font size = "6">{{cat.name}}</h1>
        <img src="/static/images/{{cat.name}}.jpg" width="250">
        

        <section class="jumbotron text-center">
            <h1 class="jumbotron-heading">Description</h1>
            <p class="lead text-muted">This is a cat</p>
        </section>
        



        <!-- <div align="left"> -->


        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li style="color:red">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}


            <h1 style='color:red'><font size = "6">Current Bid: {{cat.price}}</h1>
            <h1><font size = "6">Owner: {{cat.owner}}</h1>
<!--             <button class="btn btn-outline-success my-2 my-sm-0" href="market">Back</button> -->
            <div class="btn-group">
                <button href="#" class="btn btn-outline-primary">Like<span class="badge badge-pill bg-light align-text-bottom">27</span></button>
                <button href="#" class="btn btn-outline-primary">Comment</button>
            </div>


            {% if g.user == cat.owner %}
            {% else %}
            <div class="form-group center">
                <form class="form-inline my-2 my-lg-0" method="post">
                    <input name="bidprice" class="form-control mr-sm-2" type="text" placeholder="place a price" aria-label="Search" autofocus>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Place bid</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">History bid</button>
                </form>
            </div>
            {% endif %}


    </div>
    <br>
    <div class="container jumbotron">
    <section>
        <div class="comment_block">
         <div class="create_new_comment">
            <div class="user_avatar">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
            </div>
            <div class="input_comment">
                <input type="text" placeholder="Join the conversation..">
            </div>
         </div>
         <div class="new_comment">
            <ul class="user_comment">
            <li>
                <div class="user_avatar">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
                </div>
                <div class="comment_body">
                    <p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p>
                </div>
            </li>
            <li>
                <div class="user_avatar">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/73.jpg">
                </div>
                <div class="comment_body">
                    <p><div class="replied_to"><p><span class="user">John Smith:</span>Gastropub cardigan jean shorts, kogi Godard</p></div></p>
                </div>
            </li>
            </ul>
         </div>
        </div>
    </section>
    </div>

   

{% endblock %}