{% extends 'layout.html' %}
{% block body %}
    <!-- Modal -->
    {% include 'includes/_modal.html' %}
    <script type="text/javascript">
        function switchModalColor() {
            $('#modal-header-tbc').toggleClass('myRedModal');
            $('#modal-footer-tbc').toggleClass('myRedModal');
            $('#modal-text-tbc').text('You Lost!')
        }
    </script>

    <div class="container text-center">
        <h1>Cat {{cat.id}}</h1>
        <h1 style='color:grey'><font size = "6">{{cat.name}}</h1>
        <img src="/static/images/{{cat.name}}.jpg" width="250">
        <div align="left">


        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li style="color:red">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}


             <h1 style='color:red'><font size = "6">Current Bid: {{cat.price}}</h1>
             <h1><font size = "6">Owner: {{cat.owner}}</h1>
             <button class="btn btn-outline-success my-2 my-sm-0" href="market">Back</button>

            {% if g.user == cat.owner %}
            {% else %}
            <div class="form-group center">
                <form class="form-inline my-2 my-lg-0" method="post">
                    <input name="bidprice" class="form-control mr-sm-2" type="text" placeholder="place a price" aria-label="Search" autofocus>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Place bid</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">History bid</button>
                </form>
            </div>
            {% endif %}


     </div>

   

{% endblock %}