{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
.container{
    margin: 20px auto;
    width: 1150px;
}
</style>
</head>
<body style="background-color:#d9d9d9;">
    <div class="container" style="background-color: white; width: 1200px; margin-left: -20px">
   <table class="table">
        <thead>
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Game</th>
                 <th scope="col">Price</th>
                <th scope="col">Owner</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    {% for cat in cats %}
                <a href="/cat/{{cat.id}}">
                     <td> <img src="/static/images/{{cat.name}}.jpg" style="height:50px; width:50px; display:block;" alt="Cat"></td>
                       <th scope="col">{{cat.name}}</th>
                         <th scope="col" style="color:black"><img src="/static/images/logo_sgc.png" style="height:20px;width:20px">   {{cat.price}}</th>
                         <th scope="col" style="color:black"> {{cat.owner}}</th>
                         <th scope="col" style="color:black">{{cat.description}}</th></a>
                          </tr>
            {% endfor %}
               
        </tbody>
    </table>
</div>
</body>
  <br>
</html>

{% endblock %}