{% extends 'layout.html' %}
{% block body %}
<body style="background-color:lightgrey;">
        <div class="container">
        <div class="row">
            {% for cat in cats %}
                <div class="col-md-3">
                <a href="/cat/{{cat.id}}">
                    <img class="card-img-top" src="/static/images/{{cat.name}}.jpg" style="height:250px;width:210px; display:block;" alt="Cat">
                    <div class="card-body">
                        <p class="card-text">{{cat.name}}</p>
                        <p class="card-text" style="color:red">Owner: user #{{cat.owner}}</p>
                        <p class="card-text" style="color:green">Price: $ {{cat.price}}</p>
                    </div>
                </a>
                </div>
            {% endfor %}
        </div>
        </div>
  <br>
    {% if not g.user %}
    <h3 style="color:#990000;">Please sign in!</h3>
        <form action="{{url_for('login')}}" class="form-inline my-2 my-lg-0">
            <input name="username" class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search" autofocus>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
        </form>

    {% endif %}
    <br>

{% endblock %}
<!--     <div>
        <h2>Cats</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">cat name</th>
                    <th scope="col">price</th>

                </tr>
            </thead>
            <tbody>
                {% for cat in cats %}
                    <tr>
                        <th scope="col"><a href='/cat/{{cat.id}}'>{{cat.id}}<a></th>
                        <th scope="col"><a href='/cat/{{cat.id}}'>{{cat.name}}<a></th>
                        <th scope="col"><a href='/cat/{{cat.id}}'>{{cat.price}}<a></th>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div> -->
    